.toast-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.toastify {
    width: 400px;
    color: white;
    position: relative;
}



.toastify::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: chartreuse;
    height: 10px;
    width: 100%;
    animation: rev 5s;
}

/* When animation is 100%, the width is 0% */
@keyframes rev {
    100% {
        width: 0%
    }
}